DAY1: EXERCISEWrite a function called divide_or_square that takes one
argument (a number), and returns the square root of the number
if it is divisible by 5, returns its remainder if it is not divisible by
5. For example, if you pass 10 as an argument, then your function
should return 3.16 as the square root.

In [2]:
def divide_or_square(number):
    if (number%5==0):
        return (f"{number} is divisible by 5 and the square root is {number**0.5}")
    else:
        return (f"{number} is NOT divisible by 5 and on division gives a remainder of {number%5}")

In [5]:
divide_or_square(10)
divide_or_square(8)

'8 is NOT divisible by 5 and on division gives a remainder of 3'

EXERCISE 2: Write a function called longest_value that takes a dictionary
as an argument and returns the first longest value of the
dictionary. For example, the following dictionary should return
– apple as the longest value.
fruits = {'fruit': 'apple', 'color': 'green'}

In [21]:
def longest_value(dictionary):
    max_value=max(dictionary.values(), key=len)
    return max_value

In [24]:
fruits={'fruit': 'apple', 'color': 'green'}
longest_value(fruits)

'apple'

DAY2: EXERCISE1: Write a function called convert_add that takes a list of strings
as an argument and converts it to integers and sums the list. For
example [‘1’, ‘3’, ‘5’] should be converted to [1, 3, 5] and
summed to 9.

In [1]:
def convert_add(string):
    integers=[int(x)for x in string]
    sum_of_integers=[sum(integers)]
    return (f"The sum of the integers in the string is {sum_of_integers}")

In [3]:
strings=['1', '3', '5']
convert_add(strings)

'The sum of the integers in the string is [9]'

EXERCISE2:Write a function called check_duplicates that takes a list of
strings as an argument. The function should check if the list has
any duplicates. If there are duplicates, the function should return
the duplicates. If there are no duplicates, the function should
return "No duplicates". For example, the list of fruits below
should return apple as a duplicate and list of names should
return "no duplicates".
fruits = ['apple', 'orange', 'banana', 'apple']
names = ['Yoda', 'Moses', 'Joshua', 'Mark']

In [8]:
def check_duplicates(string_list):
    #create empty set variables that will store the duplicate and non_duplicate items
    non_duplicates=set()
    duplicates=set()
    #for loop to iterate through each item on the list
    for x in string_list:
        #if statement to check wether the item has been encountered previously(duplicate) or not(non_duplicate)
        if x in non_duplicates:
            duplicates.add(x)
        else:
            non_duplicates.add(x) #The first item in the list is automatically added here as on the first running it is encountered only once then the loop runs again
    if len(duplicates)==0:
        print('There are no duplicates in the list')
    else :
        print(f"Duplicates found {duplicates}")

In [12]:
fruits = ['apple', 'orange', 'banana', 'apple']
names = ['Yoda', 'Moses', 'Joshua', 'Mark']

check_duplicates(fruits)
check_duplicates(names)

Duplicates found {'apple'}
There are no duplicates in the list

DAY3: EXERCISE 1:Write a function called register_check that checks how many
students are in school. The function takes a dictionary as a
parameter. If the student is in school, the dictionary says ‘yes’. If
the student is not in school, the dictionary says ‘no’. Your
function should return the number of students in school. Use the
dictionary below. Your function should return 3.
register = {'Michael':'yes','John': 'no',
'Peter':'yes', 'Mary': 'yes'}

In [17]:
def register_check(dictionary_1):
    number_of_students=0
    absentees=0
    for x in dictionary_1.values():
        if x=="yes":
            number_of_students+=1
        else :
            absentees+=1
    return f"The number of students in school is {number_of_students}, while those absent are {absentees}"

In [18]:
register = {'Michael':'yes','John': 'no',
'Peter':'yes', 'Mary': 'yes'}
register_check(register)

'The number of students in school is 3, while those absent are 1'

EXERCISE2 :names = ["kerry", "dickson", "John", "Mary",
"carol", "Rose", "adam"]
You are given a list of names above. This list is made up of names
of lowercase and uppercase letters. Your task is to write a code
that will return a tuple of all the names in the list that have only
lowercase letters. Your tuple should have names sorted
alphabetically in descending order. Using the list above, your
code should return:
('kerry', 'dickson', 'carol', 'adam')

In [6]:
def list_tuple(list1):
    #since tuples are immutable i.e unchangable will first work on them as list before converting them to tuples
    lowercase_names=[]
    uppercase_names=[]
    for n in list1:
        if n.islower():
            lowercase_names.append(n)
        else :
           uppercase_names.append(n)
    print(tuple(sorted(lowercase_names,reverse=True)))

In [7]:
names = ["kerry", "dickson", "John", "Mary",
"carol", "Rose", "adam"]
list_tuple(names)

('kerry', 'dickson', 'carol', 'adam')

DAY 4: EXERCISE 1 : Write a function called only_floats, which takes two
parameters a and b, and returns 2 if both arguments are floats,
returns 1 if only one argument is a float, and returns 0 if neither23
argument is a float. If you pass (12.1, 23) as an argument, your
function should return a 1.

In [17]:

def only_floats(a,b):
    type_a=type(a)
    type_b=type(b)
    #check if both values are float using AND operator
    if type_a==float and type_b==float:
        return 2
    #check if atleast one value is a float using OR operator
    elif type_a==float or type_b==float:
        return 1
    else :
        return 0

In [18]:
a=12.1
b=23
only_floats(a,b)

1

DAY 5:Create a function called my_discount. The function takes no
arguments but asks the user to input the price and the
discount (percentage) of the product. Once the user inputs the
price and discount, it calculates the price after the discount.
The function should return the price after the discount. For
example, if the user enters 150 as price and 15% as the discount,
your function should return 127.5.

In [8]:
def my_discount():
    #input function returns values as floats thus it should be manually converted to floats
    price=float(input("input the price"))
    discount=float(input("input the discount as a decimal"))
    new_price=price-(price*discount)
    return (f'The price after discount is apllied is {new_price}')

In [9]:
my_discount()

'The price after discount is apllied is 127.5'